{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

    <h2>About the Playlist App</h2>
    <h3>Our Team</h3>

    <div class="ui centered link cards">
        {{#each emps}}
        <div class="ui card">
            <div class="image">
                <img src="{{image}}">
            </div>
            <div class="content">
                <a class="header">{{fullname}}</a>
                <div class="meta">
                    <span class="date">Joined in {{joined}}</span>
                </div>
                <div class="description">
                    {{name}} is an {{job}} living in {{city}}.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    {{mates}} contacts
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</section>